[Unit]
Description=Binibot RPi controller
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pups149
WorkingDirectory=/home/pups149/binibot/rpi
ExecStart=/home/pups149/binibot/rpi/.venv/bin/python /home/pups149/binibot/rpi/main.py
Restart=on-failure
RestartSec=1
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target