[Unit]
Description=binibot RPi controller
Wants=network-online.target
After=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/binibot/rpi
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/pi/trashbot/rpi/.venv/bin/python /home/pi/binibot/rpi/rpi_main.py
Restart=always

[Install]
WantedBy=multi-user.target